<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Made_Carousel>
            <version>1.0.0</version>
        </Made_Carousel>
    </modules>
    <frontend>
        <layout>
            <updates>
                <carousel>
                    <file>made_carousel.xml</file>
                </carousel>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <carousel>
                <class>Made_Carousel_Model</class>
                <resourceModel>carousel_mysql4</resourceModel>
            </carousel>
            <carousel_mysql4>
                <class>Made_Carousel_Model_Mysql4</class>
                <entities>
                    <image>
                        <table>made_carousel_image</table>
                    </image>
                    <image_store>
                        <table>made_carousel_image_store</table>
                    </image_store>
                </entities>
            </carousel_mysql4>
        </models>
        <resources>
            <carousel_setup>
                <setup>
                    <module>Made_Carousel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </carousel_setup>
            <carousel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </carousel_write>
            <carousel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </carousel_read>
        </resources>
        <blocks>
            <carousel>
                <class>Made_Carousel_Block</class>
            </carousel>
            <adminhtml>
                <rewrite>
                    <widget_grid_column>Made_Carousel_Block_Widget_Grid_Column</widget_grid_column>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <carousel>
                <class>Made_Carousel_Helper</class>
            </carousel>
        </helpers>
    </global>
    <admin>
        <routers>
            <made_carousel>
                <use>admin</use>
                <args>
                    <module>Made_Carousel</module>
                    <frontName>carousel</frontName>
                </args>
            </made_carousel>
        </routers>
    </admin>
</config>