<?xml version="1.0"?>
<config>
    <tabs>
        <made translate="label">
            <label>Made.com</label>
            <sort_order>250</sort_order>
        </made>
    </tabs>
    <sections>
        <carousel translate="label" module="carousel">
            <label>Carousel</label>
            <tab>made</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <options translate="label">
                    <label>Main options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <menuskin translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </menuskin>
                    </fields>
                </options>
                <info translate="label">
                    <label>About</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>carousel/info</frontend_model>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
            </groups>
        </megamenu>
    </sections>
</config>